<template>
  <div id="app" class="app">
    <div class="header">
      <h1>Restaurante <br>el Novillo Joven</h1>
    
      <nav>
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <div class="divider"/>
        <button v-if="is_auth" v-on:click="loadAccount"> Cuenta </button>
        <div class="divider"/>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
        <div class="divider"/>

        <button v-if="!is_auth" v-on:click="loadLogIn"> Iniciar Sesión </button>
        <div class="divider"/>
        <button v-if="!is_auth" v-on:click="loadSignUp"> Registrarse </button>
        <div class="divider"/>
      </nav>
    </div>

    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
      >
      </router-view>
    </div>

    <div class="footer">
      <h2>Equipo 3 Grupo P55 MisiónTIC2022</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",

  data: function () {
    return {
      is_auth: false
    }
  },

  components:{},

  methods: {
    verifyAuth: function(){
      this.is_auth = localStorage.getItem("is_auth") || false;

      if(this.is_auth == false){
        this.$router.push({name: "logIn"})
      }
      else {
        this.$router.push({name: "home"})
      }
    },

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },

    loadHome: function(){
      this.$router.push({name: "home"})
    },

    loadAccount: function(){
      this.$router.push({name: "account"})
    },

    logOut: function(){
      localStorage.clear();
      alert("Sesión terminada");
      this.verifyAuth();
    },

    completedLogIn: function(data){
      localStorage.setItem("is_auth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("tokenAccess", data.tokenAccess);
      localStorage.setItem("tokenRefresh", data.tokenRefresh);
      console.log(localStorage.getItem("username"));
      alert("Autenticación exitosa.");      
      this.verifyAuth();
    },

    completedSignUp: function(data){
      alert("Usuario registrado correctamente.");
      this.completedLogIn(data);
    }
  },

  created: function () {
    this.verifyAuth()
  },
};
</script>

<style>
body{
  max-width: 0 0 0 0;
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  min-height: 100px;
  background-color: #283747;
  color: #e5e7e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  width: 20%;
  text-align: center;
}

.header nav{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.header nav button{
  color: #E5E7E9;
  background: #283747;
  border: 1px solid #E5E7E9;
  border-radius: 5px;
  padding: 10px 20px;
}

.header nav button:hover{
  color: #283747;
  background: #E5E7E9;
  border: 1px solid #E5E7E9;
}

.main-component{
  height: 75vh;
  margin: 0%;
  padding: 0%;
  background: #FDFEFE ;
  align-content: center;
}

.footer{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 7vh;
  min-height: 30px;
  background-color: #283747;
  color: #e5e7e9;
}

.footer h2{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
}
</style>
